body{
    background-color: #ddffbc
}
 hr{
    display: block;
    border-style: dashed dotted dotted;
    border-width: 4px;
    border-color: #150e56;
    width:95%;
    height: 1px;
     background-color:
  }
